#content {
  height: 50%;
  width: 100%;
  background-color: rgb(110,87,204); /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, rgb(110,87,204) , rgb(179,81,194)); /* Standard syntax (must be last) */
  position: absolute;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.active-link{
  color: silver;
}

.fixed {
  position: fixed;
  top: 56px;
  right: 0;
  left: 0;
  z-index: 1030;
 
}
.containerText {
  background-image: linear-gradient(to right, rgb(110,87,204) , rgb(179,81,194));
}