<div *ngIf="isDataLoaded" class="card">
    <div class="card-header">
        <h5><strong> {{pageTitle}} </strong> </h5>
        <div class="float-left">
            <app-department></app-department>
        </div>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="form-group ">
                    <div class="col-md-12">
                        <input class="form-control" id="name" type="text" formControlName="name" placeholder="Name" autocomplete="off"
                            [ngClass]="{ 'is-invalid': submitted && form.name.errors }">
                        <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                            <div *ngIf="form.name.errors.required">Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-12">
                        <div class="input-group-append"> </div>
                        <div class="form-group">
                            <input type="text" formControlName="birthday" placeholder="Birthday yyyy-mm-dd" class="form-control" autocomplete="off"
                                bsDatepicker [minDate]="minDate" [maxDate]="maxDate">
                        </div>
                        <div *ngIf="form.birthday.errors" class="invalid-feedback d-block">
                            <div *ngIf="form.birthday.errors.myDepartmentAgeValidatorCodeless">Codeless users should be at
                                least 20 years old.</div>
                            <div *ngIf="form.birthday.errors.myDepartmentAgeValidatorCodemore">Codemore users should be at
                                least 24 years old.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-12">
                        <ng-multiselect-dropdown [placeholder]="'Select Department'" [data]="dropdownList"
                            formControlName="selectedItems" [settings]="dropdownSettings"
                            (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                            [ngClass]="{ 'is-invalid': submitted && form.selectedItems.errors }">
                        </ng-multiselect-dropdown>
                        <div *ngIf="submitted && form.selectedItems.errors" class="invalid-feedback">
                            <div *ngIf="form.selectedItems.errors.required">Department is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="d-flex justify-content-between mb-3">
                        <div class="p-2">
                            <button class="btn btn-default btn-circle btn-xl" type="reset" (click)="onBack()"
                                title="Back"><i class="fa fa-chevron-left"></i></button>
                        </div>
                        <div class="p-2">
                            <button *ngIf="isEditMode" class="btn btn-default btn-circle btn-xl" type="button"
                                title="Delete this user" (click)="deleteUser()">
                                <i class="fa fa-times"></i>
                            </button>
                            <button type="submit" class="btn btn-default btn-circle btn-xl" [disabled]="!userForm.valid"
                                title="Save user">
                                <i class="fa fa-check"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>