<div class="card">
    <div class="card-header">
        <h5><strong> {{pageTitle}} </strong> </h5>
        <div class="d-flex justify-content-end">
        <a routerLink="/users/detail/0" class="btn btn-success btn-lg"><i class="fas fa-plus"></i>
          </a>
        </div>
        <div class="progressBar">
            <p><ngb-progressbar [showValue]="true" type="info" [value]="progress"></ngb-progressbar></p>
        </div>

    </div>
    <div class="card-body">
        <div class="container-fluid">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Assigned</th>
                        <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
                        <th scope="col" sortable="department" (sort)="onSort($event)">Department</th>
                        <th scope="col" sortable="age" (sort)="onSort($event)">Age</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td><div class="d-flex justify-content-center"> <input  id="checkboxUser" type="checkbox"  (change)="checkBox($event);"></div></td>
                        <td>{{ user.name }}</td>
                        <td><p *ngIf="user.departments">{{ user.departments[0].name}}</p></td>
                        <td>{{ user.birthday | userage }}</td>
                        <td> <a routerLink="/users/detail/{{user.id}}">Edit</a></td>
                    </tr>
                </tbody>
               
            </table>
            <div class="d-flex justify-content-center">  <button *ngIf="!allUsersLoaded" class="btn btn-outline-primary btn-lg" type="reset" (click)="onLoadMore()">Load more</button></div>
        </div>
    </div>
</div>
<div *ngIf="errorMessage"
     class="alert alert-danger">
  Error: {{ errorMessage }}
</div>