/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: poppins,Arial,sans-serif;
  font-weight: 300;
  font-size: 16px;
}
 
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  p {
    font-family: Lato;
  }
/* TOASTR BUGFIX */
#toast-container > div {
  opacity: 1;
}
.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}
.toast-success {
  background-color: #51A351 !important;
}
.toast-error {
  background-color: #BD362F !important;
}
.toast-info {
  background-color: #2F96B4 !important;
}
.toast-warning {
  background-color: #F89406 !important;
}

.table{
  color: #7d8184;
  border-radius: 25px !important;
}
.table .thead-dark th {
  color: #fff;
  background-color: #36304A;
  border-color: #32383e;
}
.navbar{
  background-color: rgb(110,87,204); /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, rgb(110,87,204) , rgb(179,81,194)); /* Standard syntax (must be last) */
}
a{
  color: #fff;
}
a:hover{
  color:#C0C0C0;
}
a:active{
  color:#C0C0C0;
}

.display-t {
  margin-top: 5%;
  color: #fff;
}